.btn-color{
    background-color:#eb7d4b;
    margin: 0 0 145px 0;
    font-size: 18px;
    padding: 20px 80px 20px 80px;
    border-bottom: 5px solid #c86a40;
}
.bg-header{
    background:#87509c;
    padding-top:50px;
}
.bg-header .active{
    background-color: #643a79;
    border-radius: 6px;
    padding: 0 10px 0 10px;
}
.active-btn{
    background: #ffffff;
    margin: 0 0 64px 0;
}
.navbar-nav .nav-link:hover{
    background:#643a79;
    border-radius: 6px;
}
.navbar-light .navbar-toggler{
    background: #ffffff;
}
.bg-portfolio .btn:hover{
    background: #ffffff;
}
.bg-services{
    background-color:#17c2a4;
    padding: 120px 0 130px 0;
}
.services-p-size{
    font-size: 18px;
    margin:24px 0 83px 0;
}

.bg-services h5{
    font-size: 40px;
}
.bg-services h6{
    font-size: 24px;
}
.bt-hr{
    color: #14a58c;
    width: 87px;
    border-width:5px;
}
.bg-get{
    background-color: #3c5499;
}
.bg-get h5{
    font-size: 40px;
    padding: 120px 0 0 0;
}
.bg-get hr{
    color: #3c5499;
    width: 87px;
    border-width:5px;
}
.bg-get p{
    margin: 20px 0 78px 0;
    font-size: 18px;
}
.btn-get{
    background-color: #30bae7;
    margin: 59px 0 115px 0;
    padding: 20px 90px 20px 90px;
    border-bottom: 5px solid #299ec5;
}
.footer{
    background-color: #344b8e;
}
.footer ul{
    padding: 40px 0 40px 0;
    font-size: 24px;
}
.footer a:hover{
    color: #30bae7 !important;
}
.footer .active{
    color: #30bae7 !important;
}
.bg-header h5{
    font-size: 42px;
    margin: 145px 0 60px 0;
}
.bg-portfolio{
    background: #ffdd99;
    padding: 118px 0 110px 0;
}
.bg-portfolio h5{
    font-size: 40px;
}
.bg-portfolio p{
    font-size: 18px;
    margin: 24px 0 43px 0;
}
.bg-portfolio hr{
    color: #e5c37f;
    width: 87px;
    border-width:5px;
}
.bg-portfolio h6{
    font-size: 18px;
    margin: 30px 0 64px 0;
}
.btn-portfolio{
    background: #ebc985;
    margin: 0 0 64px 0;
}
.btn-portfolio-footer{
    background: #17c2a4;
    padding: 25px 55px 25px 55px;
    border-bottom: 5px solid #14a58c;
}
.bg-team{
    background: #e7f1f8;
    padding: 120px 0 127px 0;
}
.bg-team h4{
    font-size: 41px;
}
.bg-team h3{
    font-size: 16px;
    color: #30bae7;
}
.bg-team h5{
    font-size: 24px;
}
.bg-team hr{
    color: #c8d9e5;
    width: 87px;
    border-width:5px;
}
.meet-p{
    font-size: 18px;
    margin: 0 0 80px 0;
}
.team-p{
    font-size:16px;
    margin: 25px 0 0 0;
}
.img-team{
    border-radius: 100%;
    background: #878787;
    width: 200px;
    height: 200px;
}
.bg-clients{
    background: #d74680;
    padding: 120px 0 130px 0;
}
.bg-clients hr{
    color: #b73c6d;
    width: 87px;
    border-width:5px;
}
.bg-clients h3{
    font-size: 40px;
}
.bg-clients h5{
    font-size: 18px;
    color: #ffdd99;
}
.bg-clients h4{
    font-size: 24px;
}
.bg-clients h6{
    font-size: 18px;
    margin: 0 0 70px 0;
}
.img-clients{
    border-radius: 100%;
    background: #787878;
    width: 96px;
    height: 96px;
}
.bg-palceholder::placeholder{
   color: #ffffff;
}
.icon-size{
    background: #bdd1df;
    border-radius: 100%;
    width:33px;
    height: 33px;
    color: #ffffff;
    font-size: 16px;
   padding-top: 8px;;
}
html{
	scroll-behavior:smooth;
}
.bg-get textarea{
    height: 200px;
    border-radius: 4px;
    background-color: #273a71;
}
.bg-get input{
    height: 55px;
    background-color: #273a71;
    border-radius: 4px;
}